@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overscroll-behavior: none;
}

.custom-animated-gradient {
    background: linear-gradient(-45deg, theme('colors.rose.900'), theme('colors.violet.800'),
        theme('colors.primary.800'),
        theme('colors.violet.600'));
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}